# ===========================================
# SUPABASE - Base de datos personal
# ===========================================
# Encuentra estas credenciales en: https://supabase.com/dashboard/project/TU_PROYECTO/settings/api
SUPABASE_URL=https://mjvljlaljgzascfpogtr.supabase.co
SUPABASE_DB_URL=postgresql://postgres:INstance.0192@db.mjvljlaljgzascfpogtr.supabase.co:5432/postgres
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qdmxqbGFsamd6YXNjZnBvZ3RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA3MDA0ODksImV4cCI6MjA3NjI3NjQ4OX0._iRB7sPiE66xI2nsPCOmZg7e6tvxTKzHKOez8qr8kyY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qdmxqbGFsamd6YXNjZnBvZ3RyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDcwMDQ4OSwiZXhwIjoyMDc2Mjc2NDg5fQ.MSbcpgcXUl3m1-NXyRk6CgsFOzNOwPt1df96plJGFvk

# Puerto del servidor
PORT=5432